input[type=text]{
    width: 500%;
    height: 10%;
}
.container{
    top: 30%;
    position: absolute;
    transform: 0,-50%;
    margin-left: 150px;
    

}
input[type=Email]{
    width: 500%;
    height: 100%;
}

input[type=Password]{
    width: 500%;
    height: 100%;

}


.row{
    background-image: url("../images/signup.jpeg");
    height: 100vh;
    width: 100%;
}
