<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ONE_MINUTE_PITCH</title>
    <link rel="stylesheet"href="/static/css/index.css">
</head>
<body>
    <div class="container">
    <nav>
        <div class="row">
            <p><span id="big">O</span>ne<span id="big">M</span>inute<span id="big">P</span>itch</p>
        </div>
        <div class="row">
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="./count.html">Count</a></li>
                <li><a href="./login.html">Login</a></li>
                <li><a href="./logout.html">Logout</a></li>
                <li><a href="./contactme.html">contactme</a></li>
                
            </ul>
        </div>
    </nav> 
    </div> 
</body>
</html>