<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet"href="/static/css/login.css">
</head>
<body>

<div class="row">
 <div class="container">
    <form action="">
        <input type="text"name="username" placeholder="username"> <br>  <br>  <br>
        <input type="email"name="email" placeholder="email">  <br>  <br>  <br>
        <input type="password"name="password" placeholder="password">  <br>  <br>  <br>
        <button>submit</button>
        <a href="{{url_for('signup')}}">If you dont have an account?signup</a>
    </form>
 </div>
</div>
</body>
</html>