<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ABOUT ONE_MINUTE_PITCH</title>
    <link rel="stylesheet"href="/static/css/home.css">

</head>
<body>
<div class="container">
    <div class="content">
        <p>THIS IS ABOUT<br>ONE_MINUTE_PITCH</p>
    </div>
    <div class="content2">
        <p>In life, you only have 60 seconds to impress someone. 1 minute can make or break you.<br>How do we make sure that you use your 1 minute to actually say something meaningful?
        </p>
    </div>
    <div class="learnmore">
        <a href="./contact.html"><input type="submit" value="Learn more"></a>
    </div>
</div>   
</body>
</html>