{%extends 'base.html'%}
{% import 'macros.html' as macro%}
<!-- Styles block -->
{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}

<!-- Content block -->
{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="container-fluid">
    <div class="row ">
        <div class="col-md-3 show">
            <h2 class="text-light"> <u>Pickup Lines</u></h2>
        {{ macro.alldisplays(pickup)}}
        </div>
        <div class="col-md-3 show">
            <h2 class="text-light"><u>Interview pitch</u></h2>
        {{ macro.alldisplays(interview)}}
        </div>
        <div class="col-md-3 show">
            <h2 class="text-light"><u>Product pitch</u></h2>
        {{ macro.alldisplays(product)}}

        </div>
        <div class="col-md-3 show">
        <h2 class="text-light"><u> Promotion pitch</u></h2>

        {{ macro.alldisplays(promotion)}}
       
        </div>
    </div>
{% endblock%}

